@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#0f4c92;
    font-family: 'Lato', sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    /* text-transform:uppercase; */
    width:100%;
}

p, h1, h2, h3, h4, h5, h6, a, button, label {
  font-family: 'Lato', sans-serif;
}

h1 {
    font-size:300%;
    margin-top: 64px;
    font-weight:normal;
    overflow:visible;
}

h2 {
  font-size: 200%;
  font-weight: 400;
}

h5 {
  font-weight: 400;
}

p {
  font-size: 18px;
  font-weight: 400;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.width-lock {
  max-width: 960px;
  margin: auto;
}

.w3-button {
  width: 150px;
}

.fab {
  width: 100%;
}

/* Backround Image and Video*/
#bg {
  background-color: rgb(15,77,146);
  background-size: cover;
  background-position: left;
  background-image: url('../img/bg/bg_img.jpg');
  min-width: 100vw;
  min-height: 100vh;
  position: fixed;
  z-index: -2;
  opacity: 1;
  -webkit-filter: brightness(56%);
  filter: brightness(56%);
}

/* START Navbar and Sidebar */

#sidebar-left {
  display: none;
  z-index:5; 
  width: 200px;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* Overlay Styling */
#overlay {
  cursor: pointer;
  padding-top: env(safe-area-inset-top); 
  padding-right: env(safe-area-inset-right); 
  padding-left: env(safe-area-inset-left);
}

#open-bar-btn, #contact-us-btn, #close-sign {
  z-index: 2;
  color: white;
}

#contact-us-btn {
  margin: 8px;
}

#account-btn, #social-btn {
    padding-top: 48px; 
    padding-bottom: 48px;
    cursor: pointer;
}

#social-btn {
  max-width: 300px; 
  margin: auto;
}

/* Cross Button Placement */
#close-bar {
  font-size: 20vw; 
  line-height: 50%; 
  padding-left: 200px;
}

/* Cross Button Animation */
.w3-animation-pulse {
  -webkit-animation-name: fading-out;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  
  animation-name: fading-out;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@-webkit-keyframes fading-out {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes fading-out {
  from {opacity: 1;}
  to {opacity: 0;}
}

#navbar-top {
    height: 60px;
    background-color: rgba(20,20,20,0.8);
}
#open-bar-btn {
    height: 60px;
    width: 60px;
}

#icon-nav {
    max-height: 60px; 
    padding: 16px;
}




header {
  min-height: 900px;
}
#header-content {
  padding-top: 12vh;
}

#header-logo {
  margin: auto;
  max-width: 400px;
  padding-top: 24px;
}

#event-name {
  font-weight: 900 !important;
  color: #D9B93E;
  padding-bottom: 0px;
  font-size: 300% !important;
}


#brochure-btn {
  width: 200px;
}


.vectors-img {
  min-width: 100px; 
  min-height: 100px; 
  background-position: center; 
  background-size: contain; 
  background-color: white; 
  background-repeat:no-repeat;
}

#launchpad-img {
  min-width: 100px; 
  height: 600px; 
  background-position: center; 
  background-size: cover; 
  background-color: white; 
  background-repeat:no-repeat; 
  background-image: url('../img/events/event0/Conisance-Launchpad.jpg'); 
}

